<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="filepath" value="${filepath}"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%highlight(%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] %logger - %msg%n)</pattern>
        </encoder>
    </appender>

    <appender name="SIFT" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>filepath</key>
            <defaultValue>%d{yyyy-MM-dd HH:mm:ss.SSS}</defaultValue>
        </discriminator>
        <sift>
            <appender name="FILE-${filepath}" class="ch.qos.logback.core.FileAppender">
                <file>${filepath}</file>
                <append>false</append>
                <layout class="ch.qos.logback.classic.PatternLayout">
                    <pattern>%highlight(%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] %logger - %msg%n)</pattern>
                </layout>
            </appender>
        </sift>
    </appender>

    <root level="debug">
        <appender-ref ref="SIFT" />
        <appender-ref ref="STDOUT" />
    </root>
</configuration>